@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.register-wrapper {
  border-top: 40px solid #FBC241;
  display: flex;
  align-items: center;
  justify-content: center; }
  .register-wrapper .register {
    display: flex;
    margin-top: 100px;
    gap: 94px; }
    .register-wrapper .register .right {
      margin-top: 62px; }
      .register-wrapper .register .right span.title {
        font-size: 16px; }
      .register-wrapper .register .right h2 {
        font-weight: 700;
        font-style: 24px;
        margin-bottom: 24px; }
      .register-wrapper .register .right form label, .register-wrapper .register .right form label span.label-title {
        display: block;
        margin-bottom: 12px; }
      .register-wrapper .register .right form label:not(:first-child) {
        margin-top: 12px; }
      .register-wrapper .register .right form input {
        padding: 17px 18px;
        display: block;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        width: 350px; }
      .register-wrapper .register .right form button[type=submit] {
        width: 148px;
        height: 39px;
        margin-top: 8px; }
      .register-wrapper .register .right form p {
        margin-top: 20px;
        color: #CECDCD; }
        .register-wrapper .register .right form p a {
          color: #128EDE; }

@media only screen and (max-width: 1060px) {
  .register-wrapper .register {
    margin-left: -200px;
    gap: 40px; } }
@media only screen and (max-width: 800px) {
  .register-wrapper .register {
    margin-left: -20%;
    gap: 40px; }
    .register-wrapper .register .left img {
      width: 384px;
      height: 477px; }
    .register-wrapper .register .right {
      margin-top: 0; } }
@media only screen and (max-width: 700px) {
  .register-wrapper .register {
    margin-left: -30%;
    gap: 30px; } }
@media only screen and (max-width: 600px) {
  .register-wrapper .register {
    margin-left: -50%;
    gap: 10px; } }
@media only screen and (max-width: 500px) {
  .register-wrapper .register {
    margin-left: 0%;
    gap: 0px;
    width: 90%; }
    .register-wrapper .register .left {
      display: none; }
    .register-wrapper .register .right {
      width: 100%; }
      .register-wrapper .register .right span.title {
        font-size: 16px; }
      .register-wrapper .register .right h2 {
        font-weight: 700;
        font-style: 24px;
        margin-bottom: 24px; }
      .register-wrapper .register .right form label, .register-wrapper .register .right form label span.label-title {
        display: block;
        margin-bottom: 12px; }
      .register-wrapper .register .right form label:not(:first-child) {
        margin-top: 12px; }
      .register-wrapper .register .right form input {
        padding: 17px 18px;
        display: block;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        width: 100%; }
      .register-wrapper .register .right form button[type=submit] {
        width: 148px;
        height: 39px;
        margin-top: 8px; }
      .register-wrapper .register .right form p {
        margin-top: 20px;
        color: #CECDCD; }
        .register-wrapper .register .right form p a {
          color: #128EDE; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body * {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.btn-primary {
  background: linear-gradient(90deg, #FBA342 47%, #FBC241 101%);
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  border-radius: 4px; }

button:hover {
  cursor: pointer; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
